{% extends 'authenticate/es/base.html' %}

{% block content %}

<h2 class="text-center">Edit Profile</h2>


	<form method="POST" action="{% url 'es_edit_profile' %}">
		{% csrf_token %}

		{% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p>Tu formulario tiene errores...</p>
                {% for field in form %}
                    {% if field.errors  %}
                        {{ field.errors }}
                    {% endif %}

                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
            </div>


		{% endif %}
		
       
			{{ form.as_p }}


		<input type="submit" value="Edit Profile" class="btn btn-secondary">
	</form>
    <br/>
    <p><small><a href="{% url 'es_change_password' %}">Haz Clic Aquí</a> Para Cambiar Tu Contraseña</small></p>

<br/><br/>
{% endblock %}
